.cartContainer{
    margin: 10px 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.cartImage{
    height: 100px;
    width: 120px;
    object-fit: contain;
}
.productImage{
    height: 100px;
    width: 120px;
}
.cartTitle{
    font-size: 14px;
    margin: 10px;
}
.cartQuntity{
    border: 1px solid black;
    font-size: 14px;
    margin:  -5px 0;
    display: flex;
    justify-content: space-between;
    
}
.cartQuantityTitle{
    margin: 5px 10px;
}
.cartAmount{
    font-weight: 800;
}
.cartPrice{
    font-weight: 800;
    margin:0 10px ;
}
.cartIncrement {
    border: 1px solid black;
    font-weight: 700;
    margin: 0 10px;
    background-color: gray; padding:  0 5px;
}