.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: gainsboro;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 0 20px;
}

.subContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.headerIcon{
    color: #f8f80a;
}
.headerlastIcon{
    color: black;
    font-size: 20px;
}

/* RESPONSIVE */

@media only screen and (max-width:990px) {
    .headerContainer{
        display: none;
    }
}