.navbarUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 25px;
}

.navbarLi{
    font-size: 18px;
    font-weight: 600;
    
}

.navbar_link{
    text-decoration: none;
    color: black;

}
.navbar_link:hover{
    color: green;
}