.navbar{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 10px;  
}
.responsive_navbar{
    display: none;
}
/* LOGO DIV */
.logo{
    /* border: 1px solid black; */
    cursor: pointer;
}

.logo_name{
    font-size: 30px;
    color: black;
    font-weight: 700;
}
.logo_names{
    color: greenyellow;
}
.logo_dot{
    color: yellow;
    font-size: 30px;
}

/* SEARCH DIV */
.search{
    border: 2px solid yellow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    width: 85%;
}
.search_input{
    border: none;
    height: 35px;
    width: 600px;
    font-size: 17px;
    padding: 0 10px ;
}
.search_input:focus{
    outline: none;
}
.search_icon{
    font-size: 37px;
    font-weight: 600;
    cursor: pointer;
}
.search_icon:hover{
    color: yellow;
    background-color: black;
    width: 45px;
    border-radius: 10px;
}

/* CART SECTION */
.cartSidebar{
    position: fixed;
        top: 30px;
        right: 0;
        width: 30%;
        height: 100%;
        background-color: whitesmoke;
        z-index: 1;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
}

.cartClose{
    background-color: yellow;
    width: 100%;
}

/* ICON DIV */
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
    cursor: pointer;
}

.icon:hover{
    color: yellowgreen;
}

/* RESPONSIVE */

@media only screen and (max-width:1080px){
    .navbar{
        display: none;
        
    }
    .responsive_navbar{
        display: block;
        margin-bottom: 10px;
    }
    .nav_container{
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }
    .nav_left{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: whitesmoke;
        z-index: 1;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        
    }
    
    .icon-close{
        font-size: 37px;
        font-weight: 600;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
        color: yellowgreen;
        
    }
    .side_icon1{
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        
    }
    .side_icon2{
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 80px;
        
    }
    /* NAVDATA DESIGN */
    .res_navbarUl{
        margin: 0;
        padding: 0;
        list-style-type: none; 
        position: absolute;
        top: 60px;
        width: 100%;
    }
    .res_navbarLi{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        
    }
    .res_navbar_link{
        font-size: 25px;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .res_navbar_link:hover{
        color: green;
    }

    .res_search_input{
        border: none;
        height: 30px;
        max-width: 100px;
        font-size: 17px;
        padding: 0 10px ;
    }
    .res_searchicon{
        position: absolute;
        right: 75px;
    }
    .res_contact{
        position: absolute;
        top: 350px;
        font-size: 20px;
    }

}